body {
    margin: 0 auto;
}

.home-container {
    background-color: #19004E; 
    height: 100vh;
}

.sim-title {
    color:#F6FF33;
}

nav ul {
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    row-gap: 1rem;
}

.fa-circle-dollar-to-slot {
    color: #B9FF00;
}

.fa-house {
    color: #B9FF00;
    transition: 0.3s ease-in-out;
}

.fa-house:hover {
    color: #F6FF33;
}

nav li {
    list-style: none;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: "Oxygen Mono";
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    color: #B9FF00;
}

.title-container {
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
}

.title-container .play {
    text-align: center;
    align-items: center;
}

.title h4 {
    color: white;
    font-family: "Oxygen Mono";
    margin-bottom: 0;
}

.title h1 {
    color:#B9FF00;
    font-family: "Oxygen";
    margin: 5px 0;
    font-size: 45px;
}

.title p {
    color: white;
    font-family: "Oxygen Mono";
}

/* Play Button */

.play {
    margin-top: 60px;
}

.play a {
    text-decoration: none;
    font-family: "Oxygen";
    font-size: 20px;
    font-weight: bold;
    background-color: #B9FF00;
    padding: 10px 20px;
    border-radius: 10px;
    color: #19004E;
    transition: 0.3s ease-in-out;
}

.play a:hover {
    background-color: #F6FF33;
    box-shadow: 0px 0px 12px 7px rgba(185,255,0,0.4);
    color: black;
    font-weight: bold;
}

/* Dyanmic Home Page Text */
.dynamic-text {
    padding: 20px 10px;
    text-align: center;
}

#type-text {
    color: white;
    font-family: "Oxygen Mono";
    font-size: 17px;
}

/* Disclaimer Section */
.disclaimer-section {
    position: absolute;
    color: #B9FF00;
    font-family: "Oxygen";
    bottom: 0;
    text-align: center;
    padding: 10px 10px;
    width: 100%;
}


/* About Section */

.about-container {
    background-color: #19004E; 
}

.about-title {
    text-align: center;
}

.about-title h1 {
    font-family: "Oxygen";
    color: #B9FF00;
    font-size: 45px;
    padding: 20px 10px 0px 10px;
    margin: 0;
}

.content {
    padding: 20px 45px;
}

.video-container {
    display: flex;
    justify-content: center;
}

.content-section h2{
    font-family: "Oxygen";
    color: #B9FF00;
}

.content-section p {
    font-family: "Oxygen Mono";
    color: white;
    line-height: 1.5;
}

.content-section span {
    font-style: italic;
    color: #B9FF00;
}


/* Play Section */
.play-container {
    background-color: #19004E; 
    height: 100vh;
    width: 100%;
}

.play-title {
    text-align: center;
}

.play-title h1 {
    font-family: "Oxygen";
    color: #B9FF00;
    font-size: 45px;
    padding: 20px 10px 0px 10px;
    margin: 0;    
}

.play-title p {
    color: white;
    font-family: "Oxygen Mono";
}

.game-list {
}

.game-block-plum {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.more {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.more h2 {
    text-align: center;
    color: #B9FF00;
    font-family: "Oxygen Mono";
}

.fa-spinner {
    color:#B9FF00;
    text-align: center;
    padding: 10px;
}

.game-preview {
    padding: 0px 10px;
}

.game-title {
    font-family: "Oxygen Mono";
    color:
    white;
}

.game-title h3 {
    margin-top: 0;
    text-align: center;
    color: #F6FF33;
    font-size: 26px;
    padding-top: 10px;
}

.game-content {
    font-family: "Oxygen Mono";
    color: white;
}

.play-game {
    margin: 20px;
    text-align: center;
}

.play-game a {
    text-decoration: none;
    font-family: "Oxygen";
    font-size: 20px;
    font-weight: bold;
    background-color: #B9FF00;
    padding: 10px 20px;
    border-radius: 10px;
    color: #19004E;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.play-game a:hover {
    background-color: #F6FF33;
    box-shadow: 0px 0px 12px 7px rgba(185,255,0,0.4);
    color: black;
    font-weight: bold;
}

.game-image {
    width: 100%;
}

/* CSGO Sim section */
.csgo-container {
    background-color: #19004E;
}

.csgo-title {
    text-align: center;
    margin: 0 auto;
}

.grade {
    background: linear-gradient(90deg, rgba(23,255,44,1) 0%, rgba(251,249,134,1) 100%);
    height: 1px;
}

.csgo-info {
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.csgo-info span {
    color: #B9FF00;
}

.csgo-images {
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
}

.cases-image {
    margin: 0 auto;
}

.csgo-title h1 {
    font-family: "Oxygen Mono";
    color: #B9FF00;
    text-align: center;
}

.csgo-info h2 {
    color: #B9FF00;
    font-family: "Oxygen";
}

.csgo-info p {
    color: white;
    font-family: "Oxygen Mono";
}


.csgo-info ol li {
    color:#B9FF00;
    font-family: "Oxygen Mono";
}

.csgo-info ul li {
    color:#B9FF00;
    font-family: "Oxygen Mono";
}

.csgo-info ul li span {
    color: #B9FF00;
}

.game-container {
    padding: 10px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: 0px 0px 6px 1px rgba(185,255,0,0.7);    
    background-color: #000E4E;
    width: 92%;
}

.spin {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

button {
    background-color: #F6FF33;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    touch-action: manipulation;
    font-family: "Oxygen";
    font-weight: 800;
    border: 0;
    box-shadow: 0px 0px 2px 2px #F6FF33;
}

button:active {
    transform: translateY(1px);
}

.csgo-stats {
    color:#B9FF00;
    font-family: "Oxygen Mono";
    text-align: center;
    margin: 0;
}

.csgo-stats p {
    margin: 0 auto;
}

.csgo-items {
    color:white;
    font-family: "Oxygen Mono";
    padding: 10px 20px;
    max-width: 1200px;
}


#message{
    text-align: center;
    font-family: "Oxygen Mono";
    color: white;
    padding: 0 20px;
}

.item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Oxygen";
    color: white;
    margin-top: 10px;
}

#item-type{
    margin: 0;
}

#skin-type{
    margin: 0;
}

#quality-type{
    margin: 0;
}

#milSpec {
    color: #B9FF00;
}

#restricted {
    color: #B9FF00;
}

#classified {
    color: #B9FF00;
}

#covert {
    color: #B9FF00;
}

#exceedinglyRare {
    color: #B9FF00;
}

.version-container {
    color: white;
    font-family: "Oxygen";
    text-align: center;
    margin-top: 10px;
}

@media screen and (min-width: 850px) {
    .title h1 {
        font-size: 60px;
    }
    .about-title h1 {
        font-size: 60px;
    }
}

@media  screen and (min-width: 1000px) {
    .csgo-images {
        flex-direction: row;
        margin: auto;
        justify-content: center;
    }
}

@media screen and (min-width: 1300px) {
    .title h1 {
        font-size: 80px;
    }
    .about-title h1 {
        font-size: 80px;
    }
}
